



/*=========Flights===========*/

.details
{
    position:relative;
    width:100vw;
    padding:5vh 5vw;
    display:grid;
    grid-template-columns: 2fr;
    grid-gap:30px;
    /*margin-top: 10px;*/
}

.details .recent
{
    position: relative;
    min-height: 500px;
    background:#0000009c;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.details .cardheader
{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardheader h2
{
    font-weight: 600;
    color:var(--white);
}

.cardheader .btn
{
    position: relative;
    padding:5px 10px;
    background: var(--blue);
    text-decoration: none;
    color:var(--white);
    border-radius:6px ;
}

.details table
{
    width:100%;
    color:var(--white);
    border-spacing: 0 16px;
}


td{
    text-align: center;
}
.details table thead td
{
    font-weight: 600;
    
}

.details .recent table tr
{
    color:var(--white);
    border-bottom:1px solid rgb(255 255 255 / 35%);
}

.details .recent table th
{
    border-spacing:10px 5rem;
}
.details .recent table tbody tr:hover
{
    color:grey;
}

.details .recent table tr td
{
    padding:10px;
    border-radius: 10px;
    margin: 10px;
    

}

.details .recent table tr td:last-child
{
    
}

.details .recent table tr td:nth-child(2)
{
    
}

.details .recent table tr td:nth-child(3)
{
    text-align: center;
}

.status.ok
{
    padding: 2px 15px;
    background: rgb(12, 176, 20);
    color:var(--white);
    border-radius:4px ;
    font-size:14px;
    font-weight: 400;
    border: #fff;

}

.status.not
{
    padding: 2px 15px;
    background: var(--red);
    color:var(--white);
    border-radius:4px ;
    font-size:14px;
    font-weight: 400;
    border: #fff;

}

.status.ok:hover
{
    font-size: 15px;
    font-weight: 500;
}

.status.not:hover
{
    font-size: 15px;
    font-weight: 500;
}

.cal
{
    padding-right: 5px;
    padding-left: 15px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #000000;
}


#cale
{
    width: 200px;
    padding: 8px 10px;
    border-radius: 30px;
    border-color: #05445e;
}

#count
{
    width: 80px;
    font-size: 18px;
    padding: 8px 20px;
    border-color: #05445e;
    border-radius: 50px;

    

}


